<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.rangresham"
    version   = "1.0.0">

<name>Rang Resham</name>

<description>
Application for famous fashion shop Rang Resham based in India.
</description>

<author href="https://build.phonegap.com" email="me@rakesh.in">
Rakesh Raja
</author>

<preference name="phonegap-version" value="2.3.0" />
<plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
<access origin=".*"/>
<preference name="stay-in-webview" value="true" />

<!-- Icons -->

<icon src="icon.png" />
<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />

<!-- Splash Screens -->
<gap:splash src="splash.png" />
<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />

</widget>
